<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConnectWorld</title>
    <link rel="stylesheet" href="_css/bootstrap.min.css">
    <link rel="stylesheet" href="_css/estilo.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>


</head>

<body>
    <div class="container-fluid">


        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a href="/">
                    <span class="navbar-brand mb-0 h1">Connect World</span>
                </a>
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/entrar">Entrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cadastrarUsuario">Quero Cadastrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/areaVendedor">Área do Vendedor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Carrinho</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!--Carrosel-->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="_img/banner1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="_img/banner2.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="_img/banner3.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div> <!-- Fim Carrosel-->


        <!--icones categoria-->
        <div class="categoria text-center">
            <a href=""> <img src="_img/pc.png" alt=""></a>
            <a href=""><img src="_img/cel.png" alt=""></a>
            <a href=""><img src="_img/blusa.png" alt=""></a>
            <a href=""><img src="_img/calça.png" alt=""></a>
            <a href=""><img src="_img/vestido.png" alt=""></a>
        </div>
        <!--Fim icones categoria-->

        <!--Produtos -->
        <div class="produtos">

            <div class="row">
                <!--Fileira 1-->
                <div class="col-sm-2">
                    <div class="card" style="width: 10rem;">
                        <img src="_img/produto.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Descrição do produto.</p>
                            <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
                        </div>
                    </div>
                </div>


                <div class="col-sm-2">
                    <div class="card" style="width: 10rem;">
                        <img src="_img/produto.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Descrição do produto.</p>
                            <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="card" style="width: 10rem;">
                        <img src="_img/produto.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Descrição do produto.</p>
                            <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fim Fileira 1-->

            <div class="row">
                <!--Fileira 2-->
                <div class="col-sm-2">
                    <div class="card" style="width: 10rem;">
                        <img src="_img/produto.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Descrição do produto.</p>
                            <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
                        </div>
                    </div>
                </div>


                <div class="col-sm-2">
                    <div class="card" style="width: 10rem;">
                        <img src="_img/produto.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Descrição do produto.</p>
                            <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="card" style="width: 10rem;">
                        <img src="_img/produto.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Descrição do produto.</p>
                            <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fim Fileira 2-->

            <div class="row">
                <!--Fileira 3-->
                <div class="col-sm-2">
                    <div class="card" style="width: 10rem;">
                        <img src="_img/produto.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Descrição do produto.</p>
                            <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
                        </div>
                    </div>
                </div>


                <div class="col-sm-2">
                    <div class="card" style="width: 10rem;">
                        <img src="_img/produto.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Descrição do produto.</p>
                            <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="card" style="width: 10rem;">
                        <img src="_img/produto.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Descrição do produto.</p>
                            <a href="#" class="btn btn-primary">Adicionar ao Carrinho</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fim Fileira 3-->

        </div>
        <!--Fim Produtos -->


        <footer class="text-center text-lg-start bg-light text-muted">

            <!-- Section: Links  -->
            <section class="rodape">
                <div class="container text-center text-md-start mt-5">
                    <!-- Grid row -->
                    <div class="row mt-3">
                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                <i class="fas fa-gem me-3"></i>Connect World
                            </h6>
                            <img class="text-center" src="_img/logo.png" width="250" alt="">
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Produtos
                            </h6>
                            <p>
                                <a href="#!" class="text-reset">Computadores</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Celulares</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Blusas</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Calça</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                Envie-nos uma mensagem!
                            </h6>
                            <p>
                                <a href="#!" class="text-reset">Enviar Mensagem!</a>
                            </p>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                CONTATO
                            </h6>
                            <p><i class="fas fa-home me-3"></i> Presidente Prudente, São Paulo</p>
                            <p>
                                <i class="fas fa-envelope me-3"></i>
                                connectworld.com
                            </p>
                            <p><i class="fas fa-phone me-3"></i> (18) 222-2222</p>
                        </div>
                    </div>

                </div>
            </section>
            <!-- Section: Links  -->
            <div class="bg-light text-center text-lg-start">
                <!-- Copyright -->
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2020 Copyright ConnectWorld
                </div>
                <!-- Copyright -->
            </div>
        </footer>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>

</html>